<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>后台管理主界面</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="robots" content="nofollow"/>
    <link href="__STATIC__/css/adminStyle.css" rel="stylesheet" type="text/css">
</head>
<body>
<div class="header">
    <div class="logo" style="background:url('__STATIC__/img/admin_logo.png');height: 75px;width: 140px">
    </div>
    <div class="fr top-link">
        <a href="#" target="_blank" title="访问站点"><i style="background:url('__STATIC__/img/admin_bg.png') -5px -9px"></i><span>访问站点</span></a>
        <a href="admin_list.html" target="mainCont" title="DeathGhost"><i style="background:url('__STATIC__/img/admin_bg.png') -37px -9px;"></i><span>管理员：DeathGhost</span></a>
        <a href="#" title="修改密码"><i style="background:url('__STATIC__/img/admin_bg.png') -70px -9px;"></i><span>清除缓存</span></a>
        <a href="revise_password.html" target="mainCont" title="修改密码"><i style="background:url('__STATIC__/img/admin_bg.png') -104px -9px;"></i><span>修改密码</span></a>
        <a href="#" title="安全退出" style="background:rgb(60,60,60);"><i style="background:url('__STATIC__/img/admin_bg.png') -135px -6px;"></i><span>安全退出</span></a>
    </div>
</div>
<div id="content">
    <!--菜单列表-->
    <div class="menu-list-left"></div>
    <!--iframe-->
    <div class="menu-list-right"></div>
</div>

</body>
</html>